
# the database is at localhost, when you run the application from (.venv) environment
# DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/application-db
# and at {database container name} when you use docker compose
DATABASE_URL=postgresql+asyncpg://postgres:password@postgresql:5432/application-db
TEST_DATABASE_URL=sqlite+aiosqlite://

ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=password
TEST_USER_EMAIL=user@test.com
TEST_USER_PASSWORD=password

AUTHORIZATION_SECRET_KEY=hire_me
TRANSACTION_SECRET_KEY=gfdmhghif38yrf9ew0jkf32

